.mainSelect{
    width: 100px;
    height: 25px;
    line-height: 25px;
    margin: 11px 11px 0 6px;
    border-radius: 3px;
    font-size: 12px;
}
.navbar{
    background-color: #2e8965 !important;
}